@import '../../animations/fill.scss';
@import '../../animations/border.scss';

.Button {
    color: black;
    background-color: transparent;
    border-radius: 70px;
    padding: 24px;
	width: 150px;
	transition: color 250ms;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5rem;
	position: relative;
	z-index: 0;
	// @include border-spin(white);
	// @include fillOnHover(white, black);
	// @include fillFromSide(white, black);

	&.Active {
		background-color: #FB8B24;
		color: white;
	}
}


// Hex Codes: #4169e1, #ff6b35, #eef4ed