@import './stylesheet.scss';

.App {
  // display: flex;
  height: 100vh;
  background-color: $primary;
}

.body {
  width: 100%;
  // background-color: $secondary;
  
}

img {
  background: none;
}


@media (prefers-reduced-motion: no-preference) {
  .divider {
    animation: divider-animation infinite 3s linear;
  }
}

.divider {
  // background-image: linear-gradient(to right, red, yellow);
  // background-image: -webkit-linear-gradient(to right, red, yellow);
  padding: 1px;
  // height: 1px;
  color: white;

  width: 100vh;
}


.App-header {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

// @keyframes divider-animation {
//   0% {
//     background-image: linear-gradient(to right, white, black,black);
//     background-image: -webkit-linear-gradient(to right, white, black,black);
//   }
//   25% {
//     background-image: linear-gradient(to right, black, white,black);
//     background-image: -webkit-linear-gradient(to right, black, white, black)
//   }
//   50% {
//     background-image: linear-gradient(to right, black, black,white);
//     background-image: -webkit-linear-gradient(to right, black, black,white);
//   }
//   75% {
//     background-image: linear-gradient(to right, black, white,black);
//     background-image: -webkit-linear-gradient(to right, black, white, black)
//   }
//   100% {
//     background-image: linear-gradient(to right, white, black,black);
//     background-image: -webkit-linear-gradient(to right, white, black,black);
//   }
//   // 100% {transform: scale(1) rotate(0deg);}
// }
