@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poiret+One&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
$primary: black;
$secondary: white;
$secondary-tint: gray;

$primary-font: 'Major Mono Display', monospace;