@import '../../styles/Styles.scss';

.InfoNavItem {
    display: flex;
	float: left;
	justify-content: center;
	align-items: center;
	// width: 
    
    background-color: transparent;
    border-radius: 70px;
    padding: 24px;
    color: rgba($color: $c-secondary, $alpha: 0.5);
	font-weight: bolder;
	font-size: 1.5rem;
	&.Active {
        color: rgba($color: $c-secondary, $alpha: 1);
    }
}
